.navbar{
    background-color: #263b5e;
}
.nav-link{
    color: white !important;
    margin-right: 30px;
}
.nav-link:hover{
    color: var(--biru4) !important;
}
.navbar .button-tugas{
    background-color: transparent;
    color: var(--biru4);
    border: 1px solid var(--biru4);
    width: 130px;
}
.navbar .button-tugas:hover{
    background-color: white;
    color: var(--biru);
}