.button-tugas{
    border: none;
    background-color: var(--biru2);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    transition: 0.5s;
}
.button-tugas:hover{
    background-color: white;
    color: var(--biru2);
    border: 1px solid var(--biru2);
}