@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hijau : #17b978;
    --biru : #263b5e;
}
*{
    font-family: 'Raleway', sans-serif;
}

/* WELCOME */
#welcome{
    color: var(--biru);
}
#welcome .col-lg-5{
    display: flex;
    align-items: center;
}
#welcome .selamat{
    margin-top: 80px;
    color: #17b978;
}
#welcome .kelas{
    font-size: 100px;
    font-weight: 800;
}
#welcome {

}
#welcome {

}
#welcome img{
    margin-top: 100px;
    width: 640px;
}
/* WELCOME */

/* Counter */
#counter{
    padding-top: 50px;
}
#counter{
    
}
#counter{
    
}
#counter .col-lg-4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#counter .col-lg-4 div{
    padding: 30px;
    text-align: center;
    width: 300px;
    background-color: #17b97863;
}
/* Counter */

/* JADWAL PELAJARAN */
#Jadwal-Pelajaran{

}
#Jadwal-Pelajaran{

}
#Jadwal-Pelajaran{

}
#Jadwal-Pelajaran{

}

/* JADWAL PELAJARAN */

/* MATKUL */
#Mata-Kuliah{

}
#Mata-Kuliah{

}
#Mata-Kuliah{

}
#Mata-Kuliah{

}
/* MATKUL */