
/* WELCOME */
#welcome{
    color: var(--biru);
}
#welcome .col-lg-5{
    display: flex;
    align-items: center;
}
#welcome .selamat{
    margin-top: 120px;
    color: var(--biru2);
    margin-bottom: 0;
}
#welcome .kelas{
    font-size: 100px;
    font-weight: 800;
}
#welcome {

}
#welcome {

}
#welcome img{
    margin-top: 100px;
    width: 500px;
}
/* WELCOME */

/* Counter */
#counter{
    padding-top: 30px;
    margin-top: 30px;
}
#counter .container{
    display: flex;
    justify-content: center;
}
#counter .row{
    width: 80%;
    color: var(--biru5);
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--biru);
    border-radius: 30px 30px 0px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
}
#counter .col{
    text-align: center;    
    display: grid;
    place-items: center;
}
#counter .circle{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: var(--biru5);
    color: var(--biru);
    font-weight: 800;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
#counter .circle:hover{
    background-color: var(--biru);
    border: 1px solid var(--biru5);
    color: var(--biru5);
}
/* Counter */

/* Monitor */
.monitor-frame{
    position: relative;
    width: 100%;
    height: 500px;
    border: 5px solid var(--biru);
    border-radius: 30px;
    background-color: var(--biru5);
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.kliksalahsatu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: floating 2s infinite ease-in-out;
}
.jadwalpelajaran {
    display: none;
}
.jadwalpelajaran h1{
    text-align: center;
}
/* Monitor */

@keyframes floating{
    50%{
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 992px) {
    #welcome{
        text-align: center;
    }
    #welcome img{
        margin-top: 40px;
        width: 80vw;
    }
    #welcome .selamat{
        margin-top: 100px;
        margin-bottom: 10px;
    }
    #counter .col-lg-4{
        margin-bottom: 30px;
    }
    .kliksalahsatu h2{
        font-size: 13px;
    }
  }