@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --biru : #000137;
    --biru2 : #02055A;
    --biru3 : #02198B;
    --biru4 : #253DA1;
    --biru5 : #BDDBF1;
    --birutransparent: #6059e679;
}
*{
    font-family: 'Raleway', sans-serif;
}
.button-tugas{
    border: none;
    background-color: var(--biru2);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    transition: 0.5s;
}
.button-tugas:hover{
    background-color: white;
    color: var(--biru2);
    border: 1px solid var(--biru2);
}