#daftarmateri{
    background-color: var(--biru5);
}
#nav .container-lg {
    background-color: transparent!important;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100px;
    height: 30px;
    border-radius: 50%;
    margin-top: 150px;
    filter: blur(10px);
    animation: shadow 10s infinite ease-in-out;
}
.img-book{
    width: 100px;
    height: 100px;
    position: absolute;
    animation: floating 10s infinite ease-in-out;
    cursor: pointer;
}
.allmapel{
    margin-left: -100px;
    position: absolute;
    margin-top: -20px;
}
.arrow{
    position: absolute;
}
.mapel {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e5e3ff;
    box-shadow:  20px 20px 60px #c3c1d9,
                -20px -20px 60px #ffffff;
    color: var(--biru);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.mapel:hover {
    background: var(--biru); 
    color: white;
    z-index: 99;
}
.mapel1{
    margin-top: -200px;
}
.mapel2{
    margin-top: -160px;
    margin-left: 150px;
}
.mapel3{
    margin-top: -80px;
    margin-left: 250px;
}
.mapel4{
    margin-top: 80px;
    margin-left: 250px;
}
.mapel5{
    margin-top: 160px;
    margin-left: 150px;
}
.mapel6{
    margin-top: 200px;
}
.mapel7{
    margin-top: -160px;
    margin-left: -150px;
}
.mapel8{
    margin-top: -80px;
    margin-left: -250px;
}
.mapel9{
    margin-top: 80px;
    margin-left: -250px;
}
.mapel10{
    margin-top: 160px;
    margin-left: -150px;
}
@keyframes floating {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes shadow {
    0%{
        transform: scaleX(0.7);
        filter: blur(5px);
    }
    50%{
        transform: scaleX(1.2);
        filter: blur(10px);
    }
    100%{
        transform: scaleX(0.7);
        filter: blur(5px);
    }
}
@media only screen and (max-width: 992px) {
    #nav .container-lg {
        background-color: var(--biru5)!important;
    }
    #nav .navbar-collapse {
        background-color: var(--biru5)!important;
    }
    .img-book{
        width: 140px;
        height: 140px;
        margin-top: -300px;
    }
    .shadow{
        width: 150px;
        margin-top: -40px;
    }
    .allmapel{
        margin-top: 100px;
    }
    .mapel {
        background-color: var(--biru);
        color: white;
        margin: 0;
        box-shadow:  none;
        opacity: 0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    }
    .mapel:hover{
        background-color: white;
        color: var(--biru);
    }
    .show{
        opacity: 1;
        z-index: 99;
    }
    .show-left{
        opacity: 1;
        transform: translateX(-30vw) scale(0.7);
    }
    .show-right{
        opacity: 1;
        transform: translateX(30vw) scale(0.7);
    }
    .all-arrow{
        position: absolute;
        margin-top: 450px;
        margin-left: -40px;
    }
    .arrow{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: linear-gradient(145deg, #f5f3ff, #cecce6);
        box-shadow:  5px 5px 9px #c3c1d9,
                    -5px -5px 9px #ffffff;
    }
    .arrow:hover{
        background: linear-gradient(145deg, #cecce6, #f5f3ff);
        box-shadow:  5px 5px 9px #c3c1d9,
                    -5px -5px 9px #ffffff;
    }
    .arrow-left{
        transform: translateX(-35px);
    }
    .arrow-right{
        transform: translateX(35px);
    }
}